<!-- <footer class="mt-5">
    <div class="container">
        <div class="row footer">
            <div class="col-3">
                <h3>TITLE</h3>
                <ul class="menu_footer">
                    <li><a href="">ASUS</a></li>
                    <li><a href="">DELL</a></li>
                    <li><a href="">MAC</a></li>
                    <li><a href="">MSI</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3>TITLE</h3>
                <ul class="menu_footer">
                    <li><a href="">ASUS</a></li>
                    <li><a href="">DELL</a></li>
                    <li><a href="">MAC</a></li>
                    <li><a href="">MSI</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3>TITLE</h3>
                <ul class="menu_footer">
                    <li><a href="">ASUS</a></li>
                    <li><a href="">DELL</a></li>
                    <li><a href="">MAC</a></li>
                    <li><a href="">MSI</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3>TITLE</h3>
                <ul class="menu_footer">
                    <li><a href="">ASUS</a></li>
                    <li><a href="">DELL</a></li>
                    <li><a href="">MAC</a></li>
                    <li><a href="">MSI</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 copy_right">
            <a href="">No copyRight designer By vkduy.ktpm0116@student.ctuet.edu.vn</a>
        </div>
    </div>
</footer> -->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright © Your Website 2021</p></div>
</footer>